<!DOCTYPE html>
{% load static %}
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<title>Ahmad Waqar</title>
	<link href="{% static 'css/style.css' %}" rel="stylesheet">
	<link href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" rel="stylesheet">
</head>
<body>

	<div class="container">
		<input type="checkbox" id="main" class="check" onclick="chbx(this)">
		<label for="main">
			<div class="main">
				<img src="{% static 'images/logo.png' %}" width="275" height="275">
				<h3>Ahmad Waqar</h3>
			</div>
		</label>
		<input type="checkbox" id="skill" class="check" onclick="chbx(this)">
		<label for="skill">
			<div class="circle skill">
				<p>Skills</p>
			</div>
		</label>
		<input type="checkbox" id="exp" class="check" onclick="chbx(this)">
		<label for="exp">
			<div class="circle exp">
				<p>Experience</p>
			</div>
		</label>
		<input type="checkbox" id="edu" class="check" onclick="chbx(this)">
		<label for="edu">
			<div class="circle edu">
				<p>education</p>
			</div>
		</label>
		<input type="checkbox" id="social" class="check" onclick="chbx(this)">
		<label for="social">
			<div class="circle social">
				<p>Social</p>
			</div>
		</label>
		<div class="box skill-box">
			<div class="progress">
				<h3>Python</h3>
					<div class="full-bar">
						<div class="true-bar" style="width: 70%;">
						<p>70%</p>
					</div>
				</div>
			</div>
			<hr>
			<div class="progress">
				<h3>Web Development</h3>
					<div class="full-bar">
						<div class="true-bar" style="width: 65%;">
						<p>65%</p>
					</div>
				</div>
			</div>
			<hr>
			<div class="progress">
				<h3>Django</h3>
					<div class="full-bar">
						<div class="true-bar" style="width: 60%;">
						<p>60%</p>
					</div>
				</div>
			</div>
		</div>
		<div class="box exp-box">
			<div class="progress">
				<h3>Work Experience</h3>
			</div>
			<hr>
			<div class="progress">
				<h4>Freelancer <span class="current">current</span></h4>
			</div>
		</div>
		<div class="box edu-box">
			<div class="progress">
				<h3>Education</h3>
			</div>
		</div>
		<div class="box social-box">
			<div class="progress">
				<a href="https://stackoverflow.com/users/13903370/ahmad-waqar?tab=profile" class="icon"><i class="fab fa-stack-overflow"></i></a>
				<a href="https://twitter.com/AhmadWaqarCS" class="icon"><i class="fab fa-twitter"></i></a>
				<a href="https://github.com/AhmadWaqarCS" class="icon"><i class="fab fa-github"></i></a>
			</div>
		</div>
		<div class="box main-box">
			<div class="progress">
				<h3>Ahmad Waqar</h3>
				<p><i class="fas fa-file-code"></i> Full Stack Web Developer</p>
				<p><i class="fas fa-map-marker-alt"></i> Sialkot, Pakistan</p>
				<p><i class="fas fa-envelope"></i> ahmadwaqarpa@gmail.com</p>
			</div>
		</div>
	</div>
<script src="{% static 'js/script.js' %}"></script>
</body>
</html>